In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [30]:
# Load the customer data into a pandas DataFrame
customer_data = pd.read_csv(r'C:\Users\Hp\customer.csv')

In [31]:
customer_data

   Age  Income  SpendingScore  Savings
0   42  100000             95     10000
1   36  120000             80     11000
2   32  110000             75     12000
3   40  120000             90     13000
4   35  115000             85      9000

In [32]:
# Normalize the data using StandardScaler
scaler = StandardScaler()
customer_data_scaled = scaler.fit_transform(customer_data)

In [33]:
customer_data_scaled

array([[ 1.39754249, -1.73719807,  1.41421356, -0.70710678],
       [-0.2795085 ,  0.93541435, -0.70710678,  0.        ],
       [-1.39754249, -0.40089186, -1.41421356,  0.70710678],
       [ 0.83852549,  0.93541435,  0.70710678,  1.41421356],
       [-0.55901699,  0.26726124,  0.        , -1.41421356]])

In [34]:
# Use KMeans to perform clustering
kmeans = KMeans(n_clusters=5)
customer_data_clusters = kmeans.fit_predict(customer_data_scaled)

In [35]:
customer_data_clusters

array([0, 4, 1, 2, 3])

In [36]:
# Add the cluster labels to the original data
customer_data["Cluster"] = customer_data_clusters

In [37]:
# Group the data by cluster to see the cluster characteristics
grouped_data = customer_data.groupby(["Cluster"]).mean()

In [38]:
grouped_data

          Age    Income  SpendingScore  Savings
Cluster
0        42.0  100000.0           95.0   10000.0
1        32.0  110000.0           75.0   12000.0
2        40.0  120000.0           90.0   13000.0
3        35.0  115000.0           85.0    9000.0
4        36.0  120000.0           80.0   11000.0